node_modules
.pnpm-store

dist
.astro

.env
.env.*
!.env.example

.git
.gitignore

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage
.nyc_output

Dockerfile
.dockerignore
docker-compose.yml

.github
.gitlab-ci.yml

*.md
!README.md
LICENSE
deploy.sh
