---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Bastien, a software engineer based in Lausanne, Switzerland.
        <br />
        Come back later, I'm still working on this page.
      </p>
    </div>
  </div>
</Card>
