---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2 mt-2">
    <div class="text-sm font-light">
      <p>
        I'm a software engineer based in Switzerland. I graduated from
        <a href="https://epfl.ch/" target="_blank" class="text-primary-600"
          >EPFL</a
        > in 2025 with a MSc in Computer Science.
      </p>
    </div>
  </div>
</Card>
