---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">Want to get in touch?</h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500 not-italic">Contact Details</h2>
      <p>
        <a href="mailto:contact@bastienfaivre.ch">contact@bastienfaivre.ch</a>
      </p>
      <p><a href="tel:+41793973756">+41 79 397 37 56</a></p>
    </address>
    <!-- <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li>
          <a href={LINKS.github} target="_blank" class="italic">Github</a>
        </li>
        <li>
          <a href={LINKS.x} target="_blank" class="italic">X</a>
        </li>
        <li>
          <a href={LINKS.linkedin} target="_blank" class="italic">Linkedin</a>
        </li>
      </ul>
    </div> -->
  </div>
</Card>
