---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">Want to get in touch?</h1>
    </header>
    <address class="flex flex-col mt-4 font-light">
      <h2 class="text-gray-500 not-italic">Contact Details</h2>
      <ul class="flex">
        <li>contact</li>
        <li>@</li>
        <li>bastienfaivre.com</li>
      </ul>
    </address>
  </div>
</Card>
