---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2" title="Work In Progress">
    <div class="flex flex-col gap-2 mt-2">
        <div class="text-sm font-light">
            <p>Still wondering what to put here...</p>
        </div>
    </div>
</Card>
