---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2" title="Hot Stuff">
    <div class="flex flex-col gap-2 mt-2">
        <div class="font-light">
            <ul>
                <li>
                    - Published an optimized Bitcoin accumulation strategy <a
                        href="https://bastienfaivre.com/btc-guide"
                        target="_blank"
                        class="text-primary-500">guide</a
                    >.
                </li>
            </ul>
        </div>
    </div>
    <br />
    <br />
    <a href="/projects" class="font-light text-gray-500 cursor-pointer"
        >Click here to see all my projects</a
    >
</Card>
