---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <h2 class="text-xl font-bold m-0 z-20">Now</h2>
    <Pulse />
  </div>
  <p class="font-light">
    Mainly working on my side hustle and developping <a
      href="https://clashware.com"
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary-500 hover:underline">Clashware</a
    >.
  </p>
  <a href="/now" class="font-light text-gray-500 cursor-pointer"
    >Click here for more details</a
  >
</Card>
