---
import Layout from "../../layouts/Layout.astro";
---

<script>
  window.addEventListener("load", () => {
    const loader = document.querySelector(".loader") as HTMLElement;
    if (loader) {
      setTimeout(() => {
        loader.classList.add("loader-hidden");
      }, 100);
    }
  });
</script>

<style is:global>
  .loader {
    transition: opacity 0.5s ease-out;
  }

  .loader-hidden {
    opacity: 0 !important;
    pointer-events: none !important;
  }
</style>

<Layout title="Bastien Faivre - Projects" description="My projects">
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-neutral-100 bg-neutral-900 hover:bg-neutral-800 hover:border-primary-500 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg font-light inline-block transition-colors duration-200"
      >Back</a
    >
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">My Projects</h1>
    <p class="text-lg text-neutral-200 font-light">
      I am glad you want to know more about my projects, come back later, I'm
      still working on this page.
    </p>
  </main>
</Layout>
