---
import BasicLayout from "./BasicLayout.astro";
import type { WebPageSchema, BreadcrumbSchema } from "../lib/seo";

interface Props {
  title: string;
  description: string;
  schemas?: Array<WebPageSchema | BreadcrumbSchema>;
}

const { title, description, schemas } = Astro.props;
---

<style is:global>
  .loader {
    transition: opacity 0.5s ease-out;
  }

  .loader-hidden {
    opacity: 0 !important;
    pointer-events: none !important;
  }
</style>

<BasicLayout title={title} description={description} schemas={schemas}>
  <div
    slot="loader"
    class="loader bg-darkslate-700 text-gray-50 text-3xl font-black uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0"
  >
  </div>
  <slot />
</BasicLayout>
